<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4" >
        <h1>Login</h1>
        <div style="background-color: rgb(198, 181, 181); border: solid; border-radius: 12px;" >
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div style="margin-left: 140px; margin-top: 60px; margin-bottom: 60px;">
                    <div class="mb-3" style="width: 80%;">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                
                    <div class="mb-3" style="width: 80%;">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Login</button>
                </div>
                
            </form>
        </div>
    </div>

</div>
