<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4" style="margin-top: 50px; background-color: aquamarine; border-radius: 12px; border:solid;">
        <div style="margin-bottom: 50px; margin-top: 40px; margin-left: 80px; margin-right: 130px";>
         <div style="margin-left:100px ; margin-bottom:50px ;">
            <h2>Register</h2>
         </div>   
            
        <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Register</button>
        </form>
        </div>
    </div>
</div>